{{ fotoObject }}

<div class="black-50">
<p class="summer"> You've made it through winter! Now it's the time to enjoy the warmth and sun, travel abroad or stay local and enjoy the wonderful mitten state. Maybe your headed to europe or taking a quick flight up north. Whichever it is, make sure to take as many photos and document your memories. If you are a fan of winter, now is the time to head down under to Austrailia. Yay<span style= 'color: red; text-transform: uppercase;'> Summer!</span>   
<ul>
<h3>Top Summer Destinations:</h3>
<li>Italy - France - Michigan -  Argentina - Northern California </li>
</ul>
	<!-- {{items[0].title}} -->
	<!-- <div ng-repeat="items in items.title"> -->
	<div class="container2" id="wrapper2">
	<div class="black-50" id="photo" ng-repeat="photo in photos">
 		<img src={{photo.media.m}}>  
	</div>


	<div>
		<form ng-submit="search()" class="summer">
			Where is your favorite summer destination?
			<br>
			<input type="text" placeholder="Search for ..." ng-model="searchTerm">
			
		</form>
		<div ng-repeat="picture in results.photos.photo" class="align">
		<img ng-src="https://farm{{picture.farm}}.staticflickr.com/{{picture.server}}/{{picture.id}}_{{picture.secret}}_b.jpg" class="imageClass">
		<h4>{{picture.title}}</h4>
		</div>
	</div>

</p>

</div>