<!DOCTYPE html>

<div class="black-50">

	<p class="winter"><span style=" color:blue; font-size:50; text-transform:uppercase;">Hey</span>,are you bored with nothing to do? Try out the palindrome-checker. This is a palindrome: "Do geese see God?" Here's another: "Never odd or even". It's the same thing when it's spelled backwards!<br />
	<span style='font-weight:bold;'> Enter a word or phrase below to check if it's a palindrome.<br /></span>
	<input type="text" ng-model="string">
	<button type="submit" ng-click="checkForPalindrome(string)">Palindrome?</button><br />
	<span ng-bind-html="fantasticString"></span></p>

 
</div>