<!DOCTYPE html>

<div class="black-50">

	<p class="winter">Hey, are you bored with nothing to do? Try out the palindrome-checker. This is a palindrome: "Do geese see God?" Here's another: "Never odd or even". It's the same thing when it's spelled backwards!<br />
	Enter a word or phrase below to check if it's a palindrome.<br />
	<input type="text" ng-model="string">
	<button type="submit" ng-click="checkForPalindrome(string)">Palindrome?</button><br />
	<span ng-bind-html="fantasticString"></span></p>


 
</div>